<script type="text/template" id="results">
    <div class="main-inner">
        <header class="search__header -center">
            <h1><%-obj.length%> results for <em><%-obj.query%></em></h1>
        </header>
        <ul class="search__results--list"></ul>
    </div>
</script>

<script type="text/template" id="youtubeResult">
    <div class="thumbnail"><img src="<%-obj.snippet.thumbnails.default.url%>" alt="<%-obj.snippet.title%>"/></div>
    <div class="content">
        <h2 class="content-subhead"><%-obj.snippet.title%></h2>
        <p><%-obj.snippet.description%></p>
    </div>
</script>

