
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul, li {
	/*Strip the ul of padding and list styling*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

* {box-sizing: border-box;}

@import "../../bower_components/pure/base.css";
