@import "../../bower_components/pure/buttons.css";

.pure-button {
	&.-magenta {
		color: white;
		background-color: $magenta;
		&:hover {
			background-color: $magenta-highlight;
		}
	}
}

.pure-button {
	&.-green {
		color: white;
		background-color: $green;
		&:hover {
			background-color: $green-highlight;
		}
	}
}

.pure-button {
	&.-red {
		color: white;
		background-color: $red;
		&:hover {
			background-color: $red-highlight;
		}
	}
}

