$white: #fff;
$black: #000;
$off-white:#eee;
$gray: #999;
$dark-gray:#333;
$magenta-highlight: #ff009c;
$magenta: #ec008c;
$red: #DC4E41;
$red-highlight: #f44336;
$green-highlight: #1ed760;
$green: #2ebd59;
$overlay: rgba(0, 0, 0, 0.9);
