/**

File:			${NAME}
Description:	${DESCRIPTION}

		~ * ~

	Table of Contents:

	1. Typography
	2. Layout
	3. Responsive
		- typography
		- layout

**/


/* ---------------------------------------
	1.	Typography
--------------------------------------- */
.masthead {
	.-headline {
		margin: 0 auto;
		font-size: 72px;
	}
	p {
		margin: 0 auto;
		max-width: 720px;
	}
}


/* ---------------------------------------
	2. Layout
--------------------------------------- */
.masthead {
	padding: 3em 0 2em;
	background-color: $off-white;

}

/* ---------------------------------------
	3.	Responsive
--------------------------------------- */

/* --- typography --------------------- */
@include breakpoint($mobile) {
	.masthead {
		.-headline {
			font-size: 36px;
		}
	}
}

/* --- layout ------------------------- */
@include breakpoint($mobile) {
	.masthead {
		padding: 20px 2%;
	}
}
